@import '../../../../styles/globals.config.scss' ;

.container {
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 1.5rem 0 1.5rem 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.noAppointments {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    p {
        font-weight: 400;
        font-size: 14px;
        color: $base-gray;
    }
}

.containerAppointments {
    display: flex;
    flex-direction: column;
}

.newAppointments {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    h1 {
        font-size: 1.4rem;
        font-weight: 700;
        color: $base-black;
    }

    button {
        display: flex;
        justify-content: space-around;
        align-items: center;    
        font-size: 13px;
        color: $white;
        border: none;
        background-color: $primary-color;
        width: 138px;
        border-radius: 4px;

        &:hover {
            background-color: $primary-hover;
        }

        svg {
            color: $white;
        }
    }
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5rem .5rem;
    margin-top: 1.5rem;
    
    span {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: $base-gray;
        
    }
}

.appointments {
    display: flex;
    position: relative;
    background-color: $white;
    align-items: center;
    height: 32px;
    border-radius: 2px;
    cursor: default;

    &:nth-child(even) {
        background-color: $base-gray1;
    }

    button {
        display: flex;
        align-items: center;
        position: absolute;
        right: 5px;
        border: none;
        color: $primary-color;
        background-color: transparent;
        gap: 1.5rem;
    }
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 .5rem;
    span {
        font-size: 13px;
        font-weight: 400;
        color: $base-black;
    }
}